$large-device-width: 1200px;
$medium-device-width: 992px;
$small-device-width: 768px;

$background-color: #13293d;
$primary-color: #16324f;
$secondary-color: #3e92cc;

$error-color: #ff3333;
$text-color: #e1d9d1;
